* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.content {
    width: 1200px;
    height: 100%;
    margin: auto;
}

//解决高度塌陷
.clearfix::after {
    content: "";
    display: block;
    clear: both;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

.ad {
    height: 80px;
    background: url(../img/topadnew.jpg) no-repeat center center;
    display: block;
}

// 头部
.topnav {
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
    height: 30px;
    font-size: 14px;
    line-height: 30px;

    .topnav_left {
        li {
            float: left;

            a {
                text-decoration: none;
                color: inherit;
            }

            .login {
                margin-left: 15px;
            }

            .quit {
                margin-left: 15px;
            }

            .welcome:hover {
                color: #bc338b;
            }

            span {
                display: inline-block;
                width: 1px;
                height: 16px;
                background: #555;
                margin: 7px 12px 0;
                vertical-align: top;
            }

        }
    }

    .topnav_right {
        float: right;

        li {
            position: relative;
            float: left;
            padding: 0 5px;

            .top_nv:hover {
                color: #bc338b;
            }

            a {
                text-decoration: none;
                color: #000;
            }

            span {
                display: inline-block;
                width: 1px;
                height: 16px;
                background: #555;
                margin: 7px 12px 0;
                vertical-align: top;
            }

            .secnav {
                position: absolute;
                clear: both;
                top: 30px;
                right: 5px;
                width: 270px;
                background: #FFF;
                border: 1px solid #e5e5e5;
                padding-left: 10px;
                z-index: 10;
                height: 0;
                overflow: hidden;

                li {
                    height: 30px;
                    padding: 0 15px;
                }
            }

            .secdate {
                position: absolute;
                clear: both;
                top: 30px;
                right: 5px;
                width: 92px;
                background: #FFF;
                border: 1px solid #e5e5e5;
                z-index: 3;
                height: 0;
                overflow: hidden;

                li {
                    height: 30px;
                    padding: 0 15px;
                }
            }
        }
    }
}

// 底部
.footer {
    background: #e5e5e5;
    padding-bottom: 30px;

    .footer-main {
        padding: 25px 0 50px;
        border-bottom: 1px solid #bababa;

        li {
            float: left;
            width: 170px;

            dl {
                color: inherit;

                dt {
                    margin-bottom: 15px;
                    font-size: 15px;
                    line-height: 15px;

                }

                dd {
                    height: 24px;
                    line-height: 24px;
                    color: #555;
                    font-size: 14px;

                    a {
                        font-size: 14px;
                        display: block;
                        color: #555;
                    }

                    a:hover {
                        text-decoration: underline;
                        color: #000;
                    }

                }

                .lkn-tel {
                    font-size: 18px;
                    color: #333;
                }

                .lkn-tel {
                    font-size: 18px;
                    color: #333;
                }

                .time {
                    font-size: 12px;
                }

                .lkn-xd {
                    font-size: 12px;
                    line-height: 12px;
                    position: relative;
                    top: -5px;
                }
            }
        }
    }

    .copyright {
        font-size: 14px;
        line-height: 14px;
        color: #999;
        margin: 30px 0 15px;
        text-align: center;

        .cop {
            color: inherit;
        }
    }

    .friendlink {
        margin-bottom: 30px;
        text-align: center;

        a {
            font-size: 12px;
            list-style: 12px;
            color: #777;
            display: inline;
        }

        a:hover {
            color: inherit;
            text-decoration: underline;
        }
    }

    .footadd {
        width: 1000px;
        padding-top: 30px;
        margin: 0 auto;

        img:first-child {
            margin: 0;
        }

        img {
            float: left;
            display: block;
            border: none;
            width: 128px;
            height: 52px;
            margin-left: 40px;
            cursor: pointer;
        }
    }
}

//右侧固定栏
.lkn-service-new {
    position: fixed;
    top: 0;
    right: -280px;
    width: 315px;
    height: 100%;
    z-index: 999;

    .sidebar-nav {
        width: 35px;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #0c1839;
        height: 100%;

        .e-sidebar-b {
            position: absolute;
            left: 0;
            top: 50%;
            margin-top: -200px;
            width: 100%;

            #user {
                height: 35px;
                text-align: center;
                border-bottom: 0px;
                color: inherit;
                display: block;

                i {
                    font-size: 28px;
                    color: #FFF;
                    display: inline-block;
                }
            }

            .e-sidebar-tab {
                #sidebarchart {
                    border-top: 1px solid #FFF;
                    border-bottom: 1px solid #FFF;

                    i {
                        font-size: 23px;
                    }

                    p {
                        font-size: 14px;
                        margin-top: 5px;
                    }

                    span {
                        display: inline-block;
                        font-size: 12px;
                        width: 20px;
                        height: 20px;
                        line-height: 20px;
                        text-align: center;
                        border-radius: 50%;
                        background: #FFF;
                        color: #0c1839;
                    }
                }

                .e-nav-wrap {
                    margin-left: 5px;
                    margin-right: 5px;
                    padding-top: 5px;
                    padding-bottom: 10px;
                    text-align: center;
                    color: #FFF;
                    display: block;
                }

                .e-sidebar-item {
                    position: relative;
                    margin-bottom: 0px;
                    text-align: center;
                    cursor: pointer;
                    height: 36px;

                    a {
                        display: block;
                    }

                    .e-shop-hide {
                        background-color: #212426;
                        position: absolute;
                        top: 0;
                        right: 38px;
                        border-radius: 5px;
                        padding: 5px 5px;
                        width: 80px;
                        color: #FFF;
                        display: none;
                    }

                    .e-shop-hide span::after {
                        content: "";
                        display: block;
                        height: 0;
                        width: 0;
                        border: 5px solid transparent;
                        border-left-color: #212426;
                        position: absolute;
                        top: 10px;
                        right: -10px;
                    }

                    .code {
                        position: absolute;
                        top: 0;
                        right: 38px;
                        display: none;
                    }
                }

                .e-sidebar-item:hover {
                    background: #FFF;
                }

                .e-sidebar-item:hover i {
                    color: #212426;
                }

                .e-sidebar-item:hover .e-shop-hide {
                    display: block;
                }

                .e-sidebar-item:hover .code {
                    display: inline-block;
                }
            }
        }

        .e-sidebar-ft {
            position: absolute;
            width: 35px;
            bottom: 60px;
            left: 0;

            .e-nav-wrap {
                margin-left: 5px;
                margin-right: 5px;
                padding-top: 5px;
                padding-bottom: 10px;
                text-align: center;
                color: #FFF;
                display: block;
            }

            .lkn-sidebar-backtop {
                display: none;
                height: 36px;
                padding-top: 0;
                margin-top: 0;
                padding-bottom: 0;
                margin-bottom: 0
            }

            li:hover {
                background: #FFF;
            }

            li:hover a {
                color: inherit;
            }
        }
    }
}