#goods .topnav_left a:hover {
  color: #bc338b;
}

#goods .logo {
  border-bottom: 2px solid #bc338b;
  margin-bottom: 15px;
}

#goods .logo .logo-left {
  width: 210px;
  height: 150px;
  float: left;
}

#goods .logo .logo-left img {
  display: block;
  border: none;
  cursor: pointer;
  margin-top: 52px;
}

#goods .logo .reg-ster {
  float: left;
  font-size: 16px;
  line-height: 16px;
  width: 80px;
  margin: 78px 0 0 10px;
  font-weight: bold;
}

#goods .logo .process-bar {
  float: right;
  font-size: 14px;
}

#goods .logo .process-bar ul {
  margin-top: 70px;
}

#goods .logo .process-bar ul li {
  width: 120px;
  height: 2px;
  background: #e5e5e5;
  float: left;
  position: relative;
}

#goods .logo .process-bar ul li i {
  display: block;
  width: 10px;
  height: 10px;
  background: #FFF;
  border: 1px solid #e5e5e5;
  border-radius: 50%;
  position: absolute;
  top: -5px;
  left: 0;
}

#goods .logo .process-bar ul li p {
  position: absolute;
  top: 15px;
}

#goods .logo .process-bar ul li .p1 {
  left: -30px;
}

#goods .logo .process-bar ul li .p2 {
  left: -22px;
}

#goods .logo .process-bar ul li .p3 {
  left: -8px;
}

#goods .logo .process-bar ul .on {
  color: #00c500;
  background: #00c500;
}

#goods .main .float-wrap {
  font-size: 14px;
}

#goods .main .float-wrap .myreceipt-item {
  height: 26px;
  line-height: 26px;
  margin-top: 15px;
  padding: 15px 20px;
  border: 1px solid #c6c6c6;
}

#goods .main .float-wrap .myreceipt-item .left {
  float: left;
  line-height: 26px;
}

#goods .main .float-wrap .myreceipt-item .left .item-sku {
  width: 168px;
  height: 24px;
  line-height: 24;
  padding: 0 0 0 10px;
  border: 1px solid #c6c6c6;
}

#goods .main .float-wrap .myreceipt-item .left .span2 {
  margin-left: 20px;
}

#goods .main .float-wrap .myreceipt-item .left .item-amount {
  width: 68px;
  height: 24px;
  line-height: 24px;
  padding: 0 0 0 10px;
  border: 1px solid #c6c6c6;
}

#goods .main .float-wrap .myreceipt-item .left .item-add {
  width: 66px;
  height: 26px;
  margin-left: 20px;
  padding: 0;
  border: 0;
  color: #FFF;
  background: #1c3a8b;
  cursor: pointer;
}

#goods .main .float-wrap .myreceipt-item .right {
  float: right;
}

#goods .main .float-wrap .myreceipt-item .right span {
  float: left;
}

#goods .main .float-wrap .myreceipt-item .right .rtes {
  width: 280px;
  height: 26px;
  position: relative;
  float: left;
  cursor: pointer;
  z-index: 1;
}

#goods .main .float-wrap .myreceipt-item .right .webuploader-pick {
  position: relative;
  width: 280px;
  height: 26px;
  cursor: pointer;
  overflow: hidden;
  color: #FFF;
  border-radius: 3px;
}

#goods .main .float-wrap .myreceipt-item .right .webuploader-pick .input-text {
  width: 198px;
  height: 24px;
  line-height: 24px;
  padding: 0;
  border: 1px solid #c6c6c6;
  background: #FFF;
  vertical-align: middle;
  float: left;
}

#goods .main .float-wrap .myreceipt-item .right .webuploader-pick .link-btn {
  display: block;
  width: 80px;
  height: 26px;
  line-height: 26px;
  color: #FFF;
  background: #999;
  float: left;
  text-align: center;
}

#goods .main .float-wrap .myreceipt-item .right .rt {
  width: 280px;
  height: 26px;
  overflow: hidden;
  bottom: auto;
  right: auto;
  position: absolute;
  top: 0;
  left: 0;
}

#goods .main .float-wrap .myreceipt-item .right .rt .input-file {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
}

#goods .main .float-wrap .myreceipt-item .right .rt label {
  opacity: 0;
  width: 100%;
  height: 100%;
  display: block;
  cursor: pointer;
  background: white;
  outline: none;
}

#goods .main .float-wrap .myreceipt-item .right .upload {
  width: 80px;
  height: 26px;
  line-height: 26px;
  margin-left: 10px;
  background: #e52d88;
  color: #FFF;
  text-align: center;
  border: 0;
  transition: all .3s;
}

#goods .main .float-wrap .myreceipt-item .right .upload:hover {
  background: #bc338b;
}

#goods .main .float-wrap .myreceipt-item .right .model {
  color: #359cd8;
  margin-left: 20px;
}

#goods .main .float-wrap .myreceipt-item .right .model:hover {
  text-decoration: underline;
}

#goods .main .float-wrap .myreceipt {
  font-size: 14px;
}

#goods .main .float-wrap .myreceipt dl {
  padding-bottom: 50px;
}

#goods .main .float-wrap .myreceipt dl dt:first-child {
  margin-top: 0;
}

#goods .main .float-wrap .myreceipt dl dt {
  margin-top: 50px;
}

#goods .main .float-wrap .myreceipt dl dt .warehouse {
  margin-top: 20px;
  margin-bottom: 5px;
  height: 24px;
  line-height: 24px;
  position: relative;
}

#goods .main .float-wrap .myreceipt dl dt .warehouse .sore {
  font-size: 16px;
  color: #bc338b;
  cursor: pointer;
  font-weight: bold;
}

#goods .main .float-wrap .myreceipt dl dt .warehouse .adddata {
  width: 88px;
  height: 24px;
  line-height: 24px;
  padding: 0;
  border-radius: 3px;
  border: 1px solid #dcdcdc;
  background: #f5f5f5;
  margin-left: 10px;
  font-size: 12px;
  letter-spacing: 1px;
  transition: all .2s;
}

#goods .main .float-wrap .myreceipt dl dt .warehouse .adddata:hover {
  background: #CCC;
}

#goods .main .float-wrap .myreceipt dl dt .warehouse .explain {
  font-size: 16px;
  color: #bc338b;
  font-weight: 600;
  border: 1px solid #bc338b;
  border-radius: 3px;
  outline: none;
  padding: 0 5px;
  background: #FFF;
  float: right;
}

#goods .main .float-wrap .myreceipt dl dt .warehouse .explain-show {
  position: absolute;
  top: 23px;
  right: 0;
  border: 1px solid #CECED1;
  padding: 15px 10px;
  background: #f1f1f1;
  z-index: 55;
  display: none;
}

#goods .main .float-wrap .myreceipt dl dt .tbody {
  width: 100%;
  height: 36px;
  line-height: 36px;
}

#goods .main .float-wrap .myreceipt dl dt .tbody li {
  float: left;
  text-align: center;
}

#goods .main .float-wrap .myreceipt dl dt .tbody .li1 {
  width: 30%;
}

#goods .main .float-wrap .myreceipt dl dt .tbody .li2 {
  width: 15%;
}

#goods .main .float-wrap .myreceipt dl dt .tbody .li3 {
  width: 10%;
}

#goods .main .float-wrap .myreceipt dl dt .tables .table-item {
  margin-bottom: 33px;
}

#goods .main .float-wrap .myreceipt dl dt .tables .table-item .item-top {
  height: 36px;
  line-height: 36px;
  padding: 0 10px;
  border: 1px solid #e1e9ef;
  background: #f5f8fa;
  border-bottom: 0;
}

#goods .main .float-wrap .myreceipt dl dt .tables .table-item .item-top a {
  color: inherit;
  float: right;
}

#goods .main .float-wrap .myreceipt dl dt .tables .table-item .item-top a i {
  margin-right: 5px;
}

#goods .main .float-wrap .myreceipt dl dt .tables .table-item .item-top a:hover {
  color: #bc338b;
}

#goods .main .float-wrap .myreceipt dl dt .tables .table-item .item-icon {
  border-top: 0;
  width: 1199px;
  text-align: center;
  border-right: 1px solid #e1e9ef;
  border-bottom: 1px solid #e1e9ef;
}

#goods .main .float-wrap .myreceipt dl dt .tables .table-item .item-icon li {
  float: left;
  height: 90px;
  padding: 12px 0;
  border-left: 1px solid #e1e9ef;
}

#goods .main .float-wrap .myreceipt dl dt .tables .table-item .item-icon .icon1 {
  width: 359px;
  text-align: left;
}

#goods .main .float-wrap .myreceipt dl dt .tables .table-item .item-icon .icon1 .icon-photo {
  display: block;
  width: 90px;
  height: 90px;
  overflow: hidden;
  float: left;
  padding-left: 15px;
}

#goods .main .float-wrap .myreceipt dl dt .tables .table-item .item-icon .icon1 .icon-photo img {
  display: block;
  border: none;
  width: 100%;
  height: 100%;
  transition: all .3s;
}

#goods .main .float-wrap .myreceipt dl dt .tables .table-item .item-icon .icon1 .icon-photo img:hover {
  width: 105%;
  height: 105%;
}

#goods .main .float-wrap .myreceipt dl dt .tables .table-item .item-icon .icon1 .item-right {
  float: left;
  margin-left: 10px;
  width: 224px;
}

#goods .main .float-wrap .myreceipt dl dt .tables .table-item .item-icon .icon1 p {
  margin: 26px 0 10px;
}

#goods .main .float-wrap .myreceipt dl dt .tables .table-item .item-icon .icon2 {
  width: 179px;
  line-height: 90px;
}

#goods .main .float-wrap .myreceipt dl dt .tables .table-item .item-icon .icon2 i {
  font-size: 22px;
  vertical-align: middle;
  cursor: pointer;
}

#goods .main .float-wrap .myreceipt dl dt .tables .table-item .item-icon .icon2 i:hover {
  color: #bc338b;
}

#goods .main .float-wrap .myreceipt dl dt .tables .table-item .item-icon .icon2 input {
  width: 68px;
  height: 20px;
  margin: 0 2px;
  padding: 0;
  border: 1px solid #dcdcdc;
  line-height: 20px;
  margin-left: -3px;
  margin-right: -3px;
  text-align: center;
}

#goods .main .float-wrap .myreceipt dl dt .tables .table-item .item-icon .icon3 {
  width: 119px;
  line-height: 90px;
}

#goods .main .float-wrap .myreceipt dl dt .tables .table-item .item-icon .icon4 {
  width: 115px;
  line-height: 90px;
}

#goods .main .float-wrap .myreceipt dl dt .settlements {
  width: 1168px;
  height: 30px;
  line-height: 30px;
  padding: 15px;
  background: #f5f8fa;
  border: 1px solid #e1e9ef;
  position: relative;
  bottom: 0;
}

#goods .main .float-wrap .myreceipt dl dt .settlements .seleft {
  float: left;
}

#goods .main .float-wrap .myreceipt dl dt .settlements .seleft .delete {
  margin: 0 15px;
  color: inherit;
}

#goods .main .float-wrap .myreceipt dl dt .settlements .seleft .seadd {
  width: 88px;
  height: 24px;
  line-height: 24px;
  font-size: 12px;
  text-align: center;
  letter-spacing: 1px;
  box-sizing: border-box;
  border-radius: 3px;
  border: 1px solid #dcdcdc;
  background: #f5f5f5;
  transition: all .3s;
}

#goods .main .float-wrap .myreceipt dl dt .settlements .seleft .delete:hover {
  text-decoration: underline;
}

#goods .main .float-wrap .myreceipt dl dt .settlements .seleft .seadd:hover {
  background: #dcdcdc;
}

#goods .main .float-wrap .myreceipt dl dt .settlements .seright {
  float: right;
}

#goods .main .float-wrap .myreceipt dl dt .settlements .seright ul {
  float: left;
}

#goods .main .float-wrap .myreceipt dl dt .settlements .seright ul li {
  float: left;
  margin-right: 10px;
}

#goods .main .float-wrap .myreceipt dl dt .settlements .seright ul li span {
  color: #e52d88;
  margin: 0 3px;
}

#goods .main .float-wrap .myreceipt dl dt .settlements .seright b {
  color: #e52d88;
  font-size: 20px;
  margin: 0 20px;
  font-weight: normal;
  letter-spacing: 1px;
}

#goods .main .float-wrap .myreceipt dl dt .settlements .seright .clear {
  width: 100px;
  height: 30px;
  font-size: 18px;
  text-align: center;
  background: #e52d88;
  color: #FFF;
  padding: 0;
  border: 0;
  border-radius: 3px;
  transition: all .3s;
  cursor: pointer;
}

#goods .main .float-wrap .myreceipt dl dt .settlements .seright .clear:hover {
  background: #cc2e7d;
}
